{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <div class="text-center user-title">user: <strong class="user-title-bigger">{{ app.user.email }}</strong></div>
        <div class="row">
            <div class="col">
                <div class="card bg-light">
                <h1>Ticket</h1>

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ ticket.id }}</td>
                        </tr>
                        <tr>
                            <th>Text body</th>
                            <td>{{ ticket.textBody }}</td>
                        </tr>
                        <tr>
                            <th>Is public</th>
                            <td>{{ ticket.isPublic ? 'Yes' : 'No' }}</td>
                        </tr>
                        <tr>
                            <th>Is open</th>
                            <td>{{ ticket.isOpen ? 'Yes' : 'No' }}</td>
                        </tr>
                        <tr>
                            <th>Is in progress</th>
                            <td>{{ ticket.isInProgress ? 'Yes' : 'No' }}</td>
                        </tr>
                        <tr>
                            <th>Customer comment</th>
                            <td>{{ ticket.customerComment }}</td>
                        </tr>
                        <tr>
                            <th>Agent comment</th>
                            <td>{{ ticket.agentComment }}</td>
                        </tr>
                        <tr>
                            <th>Is waiting for feedback</th>
                            <td>{{ ticket.isWaitingForFeedback ? 'Yes' : 'No' }}</td>
                        </tr>
                        <tr>
                            <th>Is_escalated</th>
                            <td>{{ ticket.isEscalated ? 'Yes' : 'No' }}</td>
                        </tr>
                        <tr>
                            <th>User id</th>
                            <td>{{ ticket.userId }}</td>
                        </tr>
                    </tbody>
                </table>

                <a href="{{ path('ticket_index') }}" class="m-2">back to list</a>

                <a href="{{ path('ticket_edit', {'id': ticket.id}) }}" class="m-2" >edit</a>
                </div>
            </div>
        </div>
    </div>
</div>

    {{ include('ticket/_delete_form.html.twig') }}
{% endblock %}
